.container {
  position: fixed;
  bottom: 16px;
  right: 16px;

}

.card {
  position: fixed;
  color:white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}



.form-control {
  margin-bottom: 16px;
}

.button {
 
  margin-left: 30px;
  
}