.container {
    position: fixed;
    bottom: 16px;
    right: 16px;
  
  }
  
  .card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    width: 60vw;
    padding: 16px;
    box-sizing: border-box;
    background-color: black;
    color: white;/* Set card text color */
  }
  
  
  
  .form-control {
    margin-bottom: 16px;
  }
  
  .button {
    background-color: white;
    height: 2vh;
    width: 5vw;
    
  }