.container{
  min-height: 100vh;
  max-width: 100vw;
  background-color: #151515;
  overflow: hidden;
}

.app-container {
  display: flex;
    background-color: #151515;
  }
  .content
  {
    min-height: 100vh;
    max-width: 200vw;
    background-color: #151515;
      flex-grow: 1;
      height: 100vh;
      overflow: auto;
    
  }
  .sidebar {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  .sidebar-dark {
    background-color: #0d0d0f;
    width: 14vw;
    padding: 5px;
    color:"white";
  }
  
  .sidebar-light {
    background-color: #151515;
    width: 4vw;
    padding: 15px;
  }
  
  .user-info {
    color: white;
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .avatar {
    margin-left: 10px;
  }

  .sidebar-down{
    margin-top: 340px;
  }
 